/* Structural elements */
#wrapper{
    width: 80%;
    margin: 0 auto;
  
    background: #fff;
    padding: 20px;
  }
  
  #content{
    width: 54%;
    float: left;
    margin-right: 3%;
  }
  
  #sidebar-left{
    width: 20%;
    float: left;
    margin-right: 3%;
  }
  
  #sidebar-right{
    width: 20%;
    float: left;
  }