#wrapper{
    width: 90%;
  }
  
  #content{
    width: 100%;
  }
  
  #sidebar-left{
    width: 100%;
    clear: both;
  
    /* Additional styling for our new layout */
    border-top: 1px solid #ccc;
    margin-top: 20px;
  }
  
  #sidebar-right{
    width: 100%;
    clear: both;
  
    /* Additional styling for our new layout */
    border-top: 1px solid #ccc;
    margin-top: 20px;
  }